{% extends "registration/base.html" %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>




{% block title %}LogIn{% endblock %}


{% block content %}
  <div class="row w-100 mx-0">
    <div class="col-lg-4 mx-auto">
      <div class="auth-form-light text-left py-5 px-4 px-sm-5">
        <div class="brand-logo">
          <img src="{% static 'kapella/images/logo.svg' %}" alt="logo">
        </div>
        <form method="post">
          {% csrf_token %}
          {{ form.username }}
          {{ form.password }}
          <button type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

