{% extends "allauth/layouts/manage.html" %}
{% load static allauth %}

{% block head_title %}Профіль-редагування{% endblock %}


{% block content %}
  <h4 class="card-title">Змінити профіль</h4>
  <form method="post" class="auth-form-light">
    {% csrf_token %}
    <!-- Alerts form -->
    {% if form.non_field_errors %}
      <div class="alert alert-danger mt-2">
        <ul class="list-ticked">
          {% for error in form.non_field_errors %}
            <li><i class="mdi mdi-message-alert mdi-24px"></i> {{ error }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <!-- End Alerts -->
    <!-- Profile form -->
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">
        <i class="mdi mdi-login-variant"></i> Імʼя користувача
      </label>
      <div class="col-sm-9">
        {{ form.username }}
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">
        <i class="mdi mdi-face"></i> Імʼя
      </label>
      <div class="col-sm-9">
        {{ form.first_name }}
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">
        <i class="mdi mdi-face-profile"></i> Прізвище
      </label>
      <div class="col-sm-9">
        {{ form.last_name }}
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">
        <i class="mdi mdi-email-outline"></i> Email
      </label>
      <div class="col-sm-9">
        {{ form.email }}
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">
        <i class="mdi mdi-phone"></i> Телефон
      </label>
      <div class="col-sm-9">
        {{ form.phone }}
        {{ form.phone.help_text }}
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">
        <i class="mdi mdi-worker"></i> Посада
      </label>
      <div class="col-sm-9">
        {{ form.job_title }}
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">
        <i class="mdi mdi-calendar-check"></i> Дата народження
      </label>
      <div class="col-sm-9">
        {{ form.date_of_birth }}
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">
        <i class="mdi mdi-telegram"></i> Телеграм ID
      </label>
      <div class="col-sm-9">
        {{ form.telegram_id }}
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">
        <i class="mdi mdi-image-filter"></i> Фото
      </label>
      <div class="col-sm-9">
        {{ form.photo }}
        {{ form.photo.help_text }}
      </div>
    </div>
    <button type="submit" class="btn btn-primary me-2">Зберегти</button>
  </form>
  <!-- End Profile form -->
{% endblock %}