{% extends "allauth/layouts/manage.html" %}
{% load static allauth %}

{% block head_title %}Профіль-редагування{% endblock %}


{% block content %}
  {#  <img src="{{ employee.photo.url }}" alt="avatar">#}
        <form method="post" class="form-inline">
          {% csrf_token %}
          {{ form.first_name }}
          {{ form.last_name }}
          {{ form.email }}
          {{ form.phone }}
          {{ form.job_title }}
          {{ form.date_of_birth }}
          {{ form.telegram_id }}
          {{ form.photo }}
          <button type="submit" class="btn-success">Зберегти</button>
        </form>
{% endblock %}