{% extends "base_generic.html" %}
{% load custom_filters %}
{% load static %}

{% block head_title %}Панель{% endblock %}


{% block content %}
  <div class="row">
    <div class="col-sm-6 mb-4 mb-xl-0">
      <div class="d-lg-flex align-items-center">
        <div>
          <h3 class="text-dark font-weight-bold mb-2">{{ current_date|date:"l, d M Y" }}</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-2">
      <div class="d-flex align-items-center justify-content-md-end">
        <div class="pe-1 mb-3 mb-xl-0">
          <button type="button" class="btn btn-outline-inverse-info btn-icon-text">
            Допомога
            <i class="mdi mdi-help-circle-outline btn-icon-append"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 flex-column d-flex stretch-card">
    <div class="row">
      {% for day in user.vacation_days.all %}
        {% if day.days == 0 %}
          <div></div>
        {% else %}
          <div class="col-lg-3 d-flex grid-margin stretch-card">
            <div class="card bg-gradient-danger">
              <div class="card-body text-white">
                <h4 class="card-title mb-2">Загальна кількість днів</h4>
                <h2 class="font-weight-bold mb-3">
                  {% if day.days %} {{ day.days }} дні(в) {% else %} 0 днів {% endif %}
                </h2>
                <div class="progress mb-3">
                  <div class="progress-bar  bg-warning" role="progressbar"
                       style="width: {% if day.days %}{{ day.days|calculate_percentage:31 }}{% else %}0{% endif %}%;"
                       aria-valuenow="{% if day.days %}{{ day.days }}{% else %} 0 {% endif %}"
                       aria-valuemin="0" aria-valuemax="31"></div>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                  <p class="pb-0 mb-0 font-weight-bold">
                    {% if day.days %}{{ day.days|calculate_percentage:31 }}{% else %}0{% endif %}%
                    Використано відпустки
                  </p>
                  <i class="icon-lg mdi mdi-beach"></i>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
      <!-- Leave of types -->
      {% for summary in leave_type_days_summary %}
        <div
            class="{% if leave_type_days_summary|length > 2 %}col-lg-2
            {% elif leave_type_days_summary|length > 3 %}col-lg-2
            {% else %}col-lg-2{% endif %} d-flex grid-margin stretch-card">
          <div
              class="card {% if forloop.counter|divisibleby:2 %}
              bg-gradient-success sale-visit-statistics-border{% elif forloop.counter|divisibleby:3 %}
              bg-gradient-primary sale-visit-statistics-border{% else %}sale-diffrence-border bg-gradient-warning{% endif %}">
            <div class="card-body text-white">
              <h4 class="card-title mb-2">{{ summary.full_title }}</h4>
              <h2 class="mb-2 font-weight-bold">
                {{ summary.total_days }} дні(в)
              </h2>
              <div class="d-flex align-items-center justify-content-between">
                <p class="pb-0 mb-0 font-weight-bold">
                  Використано
                </p>
                <i class="icon-lg mdi mdi mdi-clippy"></i>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      <!-- End Leave of types -->
      <!-- Number of days since last vacation -->
      <div class="col-lg-2 grid-margin stretch-card">
        <div class="card">
          <div class="card-body pb-0">
            <div class="d-flex align-items-center justify-content-between">
              <h2 class="text-info font-weight-bold">
                {% if user_last_vacation.end_date|date_diff:current_date < 0 %}
                  0
                {% else %}
                  {{ user_last_vacation.end_date|date_diff:current_date }} дні(в).
                {% endif %}
              </h2>
              <i class="mdi mdi-camera-timer mdi-36px text-dark"></i>
            </div>
          </div>
          <canvas id="invoices"></canvas>
          <div class="line-chart-row-title">Минуло з останньої відпустки</div>
        </div>
      </div>
      <!-- End last vacation -->
    </div>
  </div>
  <div class="row">
    <!-- Upcoming leaves -->
    <div class="col-lg-4 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Мої погоджені відпустки</h4>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>№</th>
                <th>Від</th>
                <th>До</th>
                <th>Дні</th>
              </tr>
              </thead>
              <tbody>
              {% for leave in upcoming_leaves %}
                <tr>
                  <td>
                    <a href="{% url 'vacation:leave_request_detail' leave.pk %}">{{ leave.pk }}
                    </a>
                  </td>
                  <td class="text-success">{{ leave.start_date|date:"d E Y" }}</td>
                  <td class="text-danger">{{ leave.end_date|date:"d E Y" }}</td>
                  <td class="text-primary">{{ leave.number_of_days }}</td>
                </tr>
              {% empty %}
                <tr>
                  <td><h4 class="text-muted mb-2">У Вас немає затверджених, запланованих відпусток.</h4></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <div class="text-end mt-5">
              <a class="btn btn-link btn-icon-text" href="{% url 'vacation:leave_request_list' %}">
                Дивитись всі запити <i class="mdi mdi-play btn-icon-append "></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Upcoming leaves -->
    <!-- Currently leaves -->
    <div class="col-lg-4 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Співробітники, які зараз у відпустці.</h4>
          <p class="card-description"></p>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th></th>
                <th>Прізвище Ім'я</th>
                <th>Дні</th>
                <th>До</th>
                <th>Тип</th>
              </tr>
              </thead>
              <tbody>
              {% for current_leave in currently_on_leave %}
                <tr>
                  <td class="py-1">
                    <img src="
                        {% if current_leave.employee.photo %}{{ current_leave.employee.photo.url }}
                        {% else %}/media/staff_photos/no_photo/no_photo.png{% endif %}" alt="photo"/>
                  </td>
                  <td>{{ current_leave.employee }}</td>
                  <td>{{ current_leave.number_of_days }}</td>
                  <td>{{ current_leave.end_date|date:"d M Y" }}</td>
                  <td>{{ current_leave.leave_type }}</td>
                </tr>
              {% empty %}
                <tr></tr>
                <tr>
                  <td></td>
                  <td><h4 class="text-muted mb-2">Всі співробітники працюють і не перебувають у відпустці.</h4></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Congratulations to leave -->
    {% if current_user_on_leave %}
      <div class="col-lg-4 mb-3 mb-lg-0">
        <div class="card congratulation-bg text-center">
          <div class="card-body pb-0">
            <img class="w-25" src="{{ request.user.photo.url }}" alt="">
            <h2 class="mt-3 text-white mb-3 font-weight-bold">Вітаю,
              {{ request.user.first_name }}!</h2>
            <p>
              Назараз ви у відпустці,
            </p>
            <h2 class="text-danger">
              {% if current_user_on_leave.start_date|date_diff:current_date == 0 %}
                перший день
              {% else %}
                {{ current_user_on_leave.start_date|date_diff:current_date }} дні(в).
              {% endif %}
            </h2>
          </div>
        </div>
      </div>
    {% endif %}
    <!-- End congratulations -->
    <!-- Duty now -->
    <div class="col-sm-4 flex-column d-flex stretch-card">
      <div class="row flex-grow">
        <div class="col-sm-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-8">
                  <h3 class="card-title">
                    Черговий цими вихідними:
                  </h3>
                  {% if duty_now %}
                    <ul class="list-star">
                      <li>{{ duty_now.start_date|date:"l: d E Y" }}</li>
                      <li>{{ duty_now.end_date|date:"l: d E Y" }}</li>
                    </ul>
                    <div class="d-lg-flex align-items-baseline mb-3">
                      <h3 class="text-dark font-weight-bold">{{ duty_now.employee }}</h3>
                    </div>
                    <p>
                      <button class="disabled btn btn-outline-dark btn-icon-text">
                        <i class="mdi mdi-cellphone-iphone btn-icon-prepend mdi-36px"></i>
                        <span class="d-inline-block text-left">
                            <small class="font-weight-light d-block">Для звʼязку!</small>
                            {{ duty_now.employee.phone }}
                          </span>
                      </button>
                    </p>
                    </div>
                    <div class="col-lg-4">
                      <div class="position-relative">
                        <img src="{% if duty_now.employee.photo %}{{ duty_now.employee.photo.url }}
                        {% else %}/media/staff_photos/no_photo/no_photo.png{% endif %}" class="w-100" alt="">
                        <div class="live-info badge badge-success"><i class="mdi mdi-worker"></i>Duty</div>
                      </div>
                    </div>
                  {% else %}
                    <div class="d-lg-flex align-items-baseline mb-3">
                      Прикро й дивно, але чомусь черговий відсутній!
                    </div>
                  {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Duty now -->
  </div>

  <div class="row">

  </div>
{% endblock %}