{% extends "base_generic.html" %}

{% block content %}
  <h2>Список заявок на відпустку</h2>
  <ul>
    {% for leave_request in leave_requests %}
      <li>
        <a href="{% url 'vacation:leave_request_detail' leave_request.pk %}">
          #{{ leave_request.id }} {{ leave_request.start_date }}: {{ leave_request.number_of_days }} {{ leave_request.reason }} {{ leave_request.status }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'vacation:leave_request_create' %}">Створити нову заявку</a>
{% endblock %}
