{% extends "base_generic.html" %}
{% load custom_filters %}
{% load static %}

{% block head_title %}Відпустки{% endblock %}


{% block content %}
  <!-- Currently leaves -->
  <div class="row">
    {# Vacation #}
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Мої запити на відпустку</h4>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>№</th>
                <th>Від</th>
                <th>До</th>
                <th>Тип</th>
                <th>Днів</th>
                <th>Статус</th>
                <th>Докладно</th>
              </tr>
              </thead>
              <tbody>
              {% for leave_request in leave_requests %}
                <tr>
                  <td><a href="{% url 'vacation:leave_request_detail' leave_request.pk %}">{{ leave_request.pk }}</a>
                  </td>
                  <td>{{ leave_request.start_date|date:"d E Y" }}</td>
                  <td>{{ leave_request.end_date|date:"d E Y" }}</td>
                  <td>{{ leave_request.leave_type }}</td>
                  <td class="text-primary">
                    {{ leave_request.number_of_days }}
                  </td>
                  <td>
                    {% if leave_request.status == "approved" %}
                      <label class="badge badge-success">{{ leave_request.status }}</label>
                    {% elif leave_request.status == "pending" %}
                      <label class="badge badge-warning">{{ leave_request.status }}</label>
                    {% elif leave_request.status == "saved" %}
                      <label class="badge badge-dark">{{ leave_request.status }}</label>
                    {% elif leave_request.status == "rejected" %}
                      <label class="badge badge-danger">{{ leave_request.status }}</label>
                    {% endif %}
                  </td>
                  <td>
                    <a href="{% url 'vacation:leave_request_detail' leave_request.pk %}"
                       class="btn btn-rounded btn-outline-linkedin">Докладно</a>
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td><h4 class="text-muted mb-2">Немає запитів на відпустку</h4></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <a class="btn btn-outline-inverse-success btn-rounded btn-sm btn-icon-text mt-5"
               href="{% url 'vacation:leave_request_create' %}">
              <i class="mdi mdi-playlist-plus mdi-24px"></i> Створити нову заявку
            </a>
          </div>
        </div>
      </div>
    </div>
    {% for leave in upcoming_leaves %}
      <i class="icon-lg mdi mdi-briefcase"></i> {{ leave.start_date }} - {{ leave.number_of_days }} дні(в)
    {% endfor %}
  </div>
{% endblock %}
          