{% extends "base_generic.html" %}

{% block content %}
  <h2>{% if form.instance.pk %}Редагувати заявку #{{ form.instance.id }}{% else %}Створити нову заявку{% endif %}</h2>
  <b>Використані дні відпустки:</b> {{ vacation_days_used }}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="save">Зберегти</button>
    <button type="submit" name="save_and_submit">Відправити на погодження</button>

  </form>
  <a href="{% url 'vacation:leave_request_list' %}">Повернутися до списку</a>
{% endblock %}
